
body{
    background-color: #0C1A26;
}

.navbar{
    background-color: #F2D64B;
    height: 40px;
}

#logo-navbar{
    
    width: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

.fa-door-open {
    margin-right: 20px;
    color: #000;
    font-size: 20px;
}





















.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .card h2 {
    font-size: 18px;
    margin-top: 0;
  }
  .card p {
    font-size: 14px;
    margin-bottom: 5px;
    
  }
  .card .precio {
    font-weight: bold;
    font-size: 16px;
    color: green;
  }

  /* Estilos para el formulario */
  form {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  form label {
    display: block;
    margin-bottom: 5px;
  }
  form input[type="text"],
  form input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  form button {
    background-color: #F2D64B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  form button:hover {
    background-color: #d8bf42;
  }

  label{
    color: white;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  